.taskCard {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  background-color: #f0f0f0;
  &:hover {
    background-color: #e2e2e2;
  }

  &.urgent {
    background-color: #ffcccc;
    &:hover {
      background-color: #ffaaaa;
    }
  }
}
