.todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f7f6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}
.columns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
}

.column {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column h2 {
  color: #333;
  padding: 10px 0;
  text-align: center;
}

.taskInput {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  input {
    padding: 10px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
    outline: none;
    width: 300px; // Définissez une largeur fixe ou en pourcentage selon votre mise en page

    &:focus {
      border-color: #007bff; // Couleur de mise en évidence lors de la saisie
    }
  }

  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    font-size: 20px;

    &:hover {
      background-color: darken(#007bff, 10%);
    }
  }
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 100%;
    margin-bottom: 20px;
  }
}
